<!DOCTYPE html>
<html>
  <head>
    <title>Dic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user.id), class: "navbar-brand" %>
          <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "navbar-brand" %>
        <% else %>
          <%= link_to "Signup", new_user_path, class: "navbar-brand" %>
          <%= link_to "Login", new_session_path, class: "navbar-brand" %>
        <% end %>
      </nav>
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
